<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<title>Hopital Web Application</title>

<style>
body {
	padding-top: 50px;
}

.special {
	padding-top: 50px;
}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href=".">Système de gestion des
					hopitaux</a>
			</div>
		</div>
	</nav>


	<div class="container special">

		<h2 class="h2">Modification d'un hopital</h2>
		<div>
			<form method="post"
				th:action="@{/saveHopital}" th:object="${hopital}">
				<div class="form-group">
					<input
						type="hidden" th:field="*{id}" class="form-control">
				</div>
				<div class="form-group">
					<label for="Hopital_nomInput">Nom</label> 
					<input
						type="text" th:field="*{Hopital_nom}" class="form-control" id="Hopital_nomInput"
						aria-describedby="Hopital_nomHelp" placeholder="Saisir le nom"> <small
						id="Hopital_nomHelp" class="form-text text-muted">Merci d'écrire le nom de l'hopital.</small>
				</div>
				<div class="form-group">
					<label for="hopitaladresseInput">Adresse</label> 
					<input
						type="text" th:field="*{hopitaladresse}" class="form-control" id="hopitaladresseInput"
						aria-describedby="hopitaladresseHelp" placeholder="Saisir l'adresse"> <small
						id="hopitaladresseHelp" class="form-text text-muted">Merci d'écrire l'adresse de l'hopital.</small>
				</div>
				<div class="form-group">
					<label for="SpecialisationInput">Specialisation</label> 
					<input
						type="text" th:field="*{Specialisation}" class="form-control" id="SpecialisationInput"
						aria-describedby="SpecialisationHelp" placeholder="Saisir le / les spécialisations"> <small
						id="SpecialisationHelp" class="form-text text-muted">Merci d'écrire les spécialisations de l'hopital.</small>
				</div>
				
				<button type="submit" class="btn btn-primary">Modifier</button>
			</form>
		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<script>
		var app = angular.module('hospitalApp', ['ngRoute']);

		app.controller('HospitalController', function($scope, $http) {
			$http.put('/api/hopitaux')
				.then(function(response) {
					$scope.hopitaux = response.data;
				});
		});

		
	</script>
</body>
</html>