<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<title>Hopial Web Application</title>

<style>
	body {
		padding-top: 50px;
	}
	.special {
		padding-top:50px;
	}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href=".">Système de gestion des patients</a>
			</div>
		</div>
	</nav>


	<div class="container special">
		<h2 class="h2">Liste des patients</h2>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Numéro de téléphone</th>
						<th>Blessure(s)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${Patients.empty}">
						<td colspan="3">Aucun patients en base de données</td>
					</tr>
					<tr th:each="Patient: ${Patients}">
						<td><span th:text="${Patient.Patient_nom}"> Nom </span></td>
						<td><span th:text="${Patient.Patient_prenom}"> Prénom </span></td>
						<td><span th:text="${Patient.Patient_numero}"> Numéro de téléphone </span></td>
						<td><span th:text="${Patient.Patient_blessure}"> Blessure du patient </span></td>
						<td>
							<!--<a th:href="@{/updatePatient/{Patient_id}(Patient_id=${Patient.Patient_id})}"><button class="btn btn-info">Modifier</button></a>-->
							<a th:href="@{'/updatePatient/' + ${Patient.Patient_id}}"><button class="btn btn-info">Modifier</button></a>
							<a th:href="@{'/deletePatient/'+ ${Patient.Patient_id}}"><button class="btn btn-danger">Supprimer</button></a>
							<a th:href="@{'/nearestHopitals/'+ ${Patient.Patient_id}}"><button class="btn btn-success">Hôpitaux Proches</button></a>		
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h4><a th:href="@{/createPatient}">Ajouter un nouveau Patient</a></h4>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<script>
		var app = angular.module('hospitalApp', ['ngRoute']);

		app.controller('PatientController', function($scope, $http) {
			$http.get('/api/patients')
				.then(function(response) {
					$scope.hopitaux = response.data;
				});
		});

		</script>
</body>
</html>